.box{
    width: 40px;
    height: 40px;
    background-color: aqua;
    padding: 10px;
    color: darkslategray;
}
.box:hover{
    background-color: darkgreen;
    color: beige;
    font-weight: bold;
}
.box:active{
    height: 100px;
    width: 100px;
    font-size: 18px;
}
input:focus{
    font-size: 30pt;
    width:200px;
}